# IDE settings
.idea/
.vscode/
.DS_Store/

# SKJ VENV
4_semester/SKJ/cv/.venv/
4_semester/SKJ/cv/__pycache__/
4_semester/SKJ/cv/.pytest_cache/

# ZPG MODELS
5_semester/ZPG/**/models/
5_semester/ZPG/**/build/

# ZAO
6_semester/ZAO/template/old/
6_semester/ZAO/template/env/
6_semester/ZAO/template/test-images/
6_semester/ZAO/template/out-red/
6_semester/ZAO/template/out-green/
